@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.15rem;
}

*::-webkit-scrollbar-track {
  background-color: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

:root {
  --toastify-color-light: #000;
  --toastify-color-dark: #fff;
  --toastify-color-info: #3b82f6;
  --toastify-color-success: #22c55e;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;

  --toastify-toast-background: #fff;

  --toastify-text-color-light: #fff;
  --toastify-text-color-dark: #757575;
}

.Toastify__close-button {
  color: #fff;
}
